services:
  - type: web
    name: devopstpi-backend
    env: docker
    region: oregon
    plan: free
    dockerContext: ./backend
    dockerfilePath: ./backend/Dockerfile
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        value: mongodb+srv://lucianolop88:1234@devopstpi.0s7djtg.mongodb.net/
      - key: PORT
        value: 5000
      - key: JWT_SECRET
        value: miclavesecretaultrasegura123